*{
  margin: 0;
  padding: 0;
}
.mywarp{
  display:flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
}
.header{
  font-size: 24px;
  line-height: 10vh;
  background-color: #118ef2;
}
.mid{
  flex-grow: 1;
}
.footer{
  display:flex;
  justify-content: space-around;
  line-height: 10vh;
  background-color: #ccc;
  font-size: 5vh;
}
