*{
  margin: 0;
  padding: 0;
}
#app{
  height: 100%;
  -webkit-overflow-scrolling:touch;  /*解决苹果手机滑动平滑问题*/
}
.mywarp{
  display:flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
}
.header{
  font-size: 24px;
  height: 10vh;
  background-color: #118ef2;
  color:#ccc;
  z-index:3;
  flex-shrink: 0;
}
.header a{
  color:#fff;
  line-height: 8vh;
  font-size: 30px;
}
.am-search{
  float: left;
  width:247px;
  background-color:#118ef2;
  height:6vh;
  margin-top: 2vh;
}
.am-search-cancel{
  display: none;
}
.am-search-input{
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
}
.mid{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  overflow-y: auto;

}
.footer{
  display:flex;
  justify-content: space-around;
  line-height: 10vh;
  background-color: #e2e2e2;
  font-size: 5vh;
  align-items: center;
  opacity: 0.8;
  flex-shrink: 0;
}
.footer a{
  color:#9e9e9e;
}
.HomePage img{
  width: 10vh;
  height: 10vh;
}
.HomePage li{
  width: auto;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 24px;
  height: 16vh;
  margin-bottom: 10px;
}
.HomePage span{
  display: block;
  float: left;
  width: 37vh;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color:#6b6b6b;
}
.HomePage>li>div>p{
  color:#a6a6a6;
  font-size: 15px;
}
.HomePage button{
  width: 40px;
  height: 30px;
  border-radius: 3px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  color:#fff;
}
